/* FONTS */
@font-face {
  font-family: "Neon";
  src: local("Neon"), url("./fonts/NEON.ttf") format("ttf"), url("./fonts/NEON.eot") format("eot"), url("./fonts/NEON.otf") format("otf"), url("./fonts/NEON.woff") format("woff"), url("./fonts/NEON.woff2") format("woff2");
}
@font-face {
  font-family: "Poiret One";
  src: local("Poiret One"), url("./fonts/PoiretOne-Regular.ttf") format("ttf"), url("./fonts/PoiretOne-Regular.eot") format("eot"), url("./fonts/PoiretOne-Regular.otf") format("otf"), url("./fonts/PoiretOne-Regular.woff") format("woff"), url("./fonts/PoiretOne-Regular.woff2") format("woff2");
}

:root {
  --yellow: rgb(255, 238, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 2rem;
  color: #fff;
  font-weight: 900;
  font-family: "Rubik Iso";
  background-color: #000;
}

main {
  width: 100%;
}


/* --- MOBILE --- */
/* Header */
.main-heading {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 8px rgb(253, 253, 253);
  animation-name: blink;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0% { color:#fff; }
  100% { color: var(--yellow); }
}


/* Meme cards */
.accordion {
  cursor: pointer;
}

.accordion__card {
  overflow: hidden;
}

input[type="radio"] {
  appearance: none;
}

input[type="radio"]:checked + .card__heading {
  color: #000;
  background-color: #fff;
}

.card__heading {
  position: relative;
  display: block;
  padding: 0.5rem;
  font-family: "Poiret One";
  font-size: 1rem;
  background-color: #1f1f1f;
  cursor: pointer;
}

.meme {
  display: block;
  width: 100%;
  max-height: 0;
  opacity: 0;
  transition: all 1s linear;
}

.card__heading::after {
  content: "\27A4";
  position: absolute;
  right: 1rem;
  width: 10px;
}
